main.content
	section.first
		.bg
		img.first__picture(src="img/first/woman.png")
		.container
			.first-wrap
				.offer
					h1 Аутсорсинговый<span> call-цетр </span>для товарного бизнеса
					.gift
						.icon
							img(src="img/icons/gift.svg")
						h2 Всем новым клиентам — <span>подарок!</span>
				.bordered
					p Умножим<br> Вашу прибыль <span>минимум в 2 раза!</span>
			form.call-form
				h2 Обработаем <span>первые 50 лидов бесплатно</span>
				.stroke
					input.field(type="name" placeholder="Ваше имя")
					input.field(type="tel" placeholder="Ваш телефон")
					input.button(type="submit" value="Свяжитесь со мной!")
				p Нажимая кнопку «Свяжитесь со мной!», Вы соглашаетесь на <a class="rules" href="#">обработку своих персональных данных</a>
	section.about
		.container
			.head
				h2 О компании
				p.caption Профессиональный аутсорсинговый колл-центр для товарного бизнеса
				p.text Наша цель - быстро подтвердить заказ вашего интернет магазина, увеличить количество допродаж на 70%, а так же существенно увеличить средний чек минимум на 50%! Мы сокращаем время на обработку заказов. Все это уменьшает расходы владельца товарного бизнеса и увеличивает лояльность клиентов онлайн-магазина. Наша цель - это длительные отношения с партнерами.
			.bottom
				h3.bottom__heading Как с нами начать сотрудничать?
				ul.how-collab
					li
						.icon
							img(src="img/icons/call-center-agent.svg")
						p.text Вы оставляете заявку
						p.number 01
					li
						.icon
							img(src="img/icons/crm.svg")
						p.text Мы помогаем настроить crm и консультируем
						p.number 02
					li
						.icon
							img(src="img/icons/customer-service.svg")
						p.text Мы обрабатываем лиды без выходных
						p.number 03
					li
						.icon
							img(src="img/icons/pay.svg")
						p.text Вы платите только за подтвержденные заказы
						p.number 04
	section.call
		.container-fluid
			h2.heading Каждый звонок - пример профессионализма
			p.subtext Почему интернет-магазинам или владельцам товарного бизнеса выгодно сотрудничать с нами?
			.call-wrap
				.left
					.sales
						p.subtitle Высокий процент допродаж
						p.text Профессионально обученные менеджеры нашего колл-центра делают до 95% up-sell , мотивируют клиентов и тем самым увеличивают продажи в 2-3 раза. Система допродажи категорийных cross-sell нашего колл-центра - позволит вам увеличить прибыль вашего бизнеса без излишних затрат на рекламу.
					.flash
						p.subtitle Колл-центр Flash - ваша точка роста
						p.text В первую очередь у вас появляется результативный инструмент, для удаленного управления вашим товарным бизнесом. Каждый менеджер - профессионально обученый продажник, любящий свою работу и понимающий e-commerce - минимизирует ваши расходы, увеличит ваш доход и ваши вложения начнут окупаться и давать прибыль на ваших глазах, за счет высокого процента допродаж..
				.right
					.start
						p.subtitle Start сотрудничества
						p.text После консультации - мы поможем вам принять правильное решение. 24 часа - ровно столько нам нужно, что бы начать умножать вашу прибыль, а главное освободить вас от звонков, CRM, sms, разговоров, выкупа или обмена товара.Оценив качество нашей работы - вы поймете, что ваше время стоит гораздо дороже, чем затраты на колл-центр, который будет заниматься этим вместо вас.
					.growth
						img(src="img/call/man.png")
						.growth__wrap
							p.subtitle Мы развиваемся вместе с Вами
							p.text Штат колл-центра имеет практический опыт у сотрудников - более 2 лет в продажах и услугах онлайн.Мы всегда развиваемся вместе с клиентами, когда вы наращиваете обьем заказов - мы расширяем штат, что бы максимально быстро обрабатывать все ваши заказы.Мы вкладываем много сил в обучение, НЛП и практики общения с клиентами наших менеджеров, каждый день! Ежедневный контроль, прослушивание звонков наших операторов и обучение, даст тот результат - который невозможно добиться самому.
	section.tariffs
		.container
			.tariffs__wrap
				h2.heading Тарифные планы
				ul.tariffs-list
					li
						h3 Стандарт
						.stroke-list
							.stroke
								.stroke__left
									p.stroke__txt количество лидов в день
								.stroke__right
									p.stroke__info 30-50
							.stroke
								.stroke__left
									p.stroke__txt персональный менеджер
								.stroke__right
									p.stroke__info 24/7
							.stroke
								.stroke__left
									p.stroke__txt уникальные продающие скрипты
								.stroke__right
									p.stroke__info под ваш оффер
							.stroke
								.stroke__left
									p.stroke__txt дожим заказа до выкупа
								.stroke__right
									p.stroke__info бесплатно
							.stroke
								.stroke__left
									p.stroke__txt подтвержденный заказ
								.stroke__right
									p.stroke__info 12 грн
							.stroke
								.stroke__left
									p.stroke__txt допродажи
								.stroke__right
									p.stroke__info 20%
						button.button подключить
					li
						h3 Оптимальный
						.stroke-list
							.stroke
								.stroke__left
									p.stroke__txt количество лидов в день
								.stroke__right
									p.stroke__info 50-100
							.stroke
								.stroke__left
									p.stroke__txt персональный менеджер
								.stroke__right
									p.stroke__info 24/7
							.stroke
								.stroke__left
									p.stroke__txt уникальные продающие скрипты
								.stroke__right
									p.stroke__info под ваш оффер
							.stroke
								.stroke__left
									p.stroke__txt дожим заказа до выкупа
								.stroke__right
									p.stroke__info бесплатно
							.stroke
								.stroke__left
									p.stroke__txt подтвержденный заказ
								.stroke__right
									p.stroke__info 10 грн
							.stroke
								.stroke__left
									p.stroke__txt допродажи
								.stroke__right
									p.stroke__info 20%
						button.button подключить
					li
						h3 Премиум
						.stroke-list
							.stroke
								.stroke__left
									p.stroke__txt количество лидов в день
								.stroke__right
									p.stroke__info 100-∞
							.stroke
								.stroke__left
									p.stroke__txt персональный менеджер
								.stroke__right
									p.stroke__info 24/7
							.stroke
								.stroke__left
									p.stroke__txt уникальные продающие скрипты
								.stroke__right
									p.stroke__info под ваш оффер
							.stroke
								.stroke__left
									p.stroke__txt дожим заказа до выкупа
								.stroke__right
									p.stroke__info бесплатно
							.stroke
								.stroke__left
									p.stroke__txt подтвержденный заказ
								.stroke__right
									p.stroke__info 10 грн
							.stroke
								.stroke__left
									p.stroke__txt допродажи
								.stroke__right
									p.stroke__info 20%
						button.button подключить
	section.cases
		.container
			h2.heading Наши кейсы
			ul.cases-list
				li.case
					p.caption Landing Page 
					h3 Продажа power bank
					table
						thead
							tr
								td.indicator Показатель
								td.after До
								td.before После
						tbody
							tr
								td.indicator апрувов
								td.after 200
								td.before 240
							tr
								td.indicator апсейл
								td.after 6% ₴
								td.before 85% ₴
							tr
								td.indicator средний чек продажи
								td.after 309 ₴
								td.before 480 ₴
						tfoot
							tr
								td.result(colspan="3") Итого
					.case__footer
						p.cases__text увеличили чистую прибыль <span>на 79%</span>
						p.cases__text дополнительный заработок с заказов <span>5 120 ₴</span> в день.
						p.cases__text дополнительная прибыль в месяц <span> 148 240 ₴</span>
				li.case
					p.caption Интернет-магазин
					h3 Продажа текстиля
					table
						thead
							tr
								td.indicator Показатель
								td.after До
								td.before После
						tbody
							tr
								td.indicator апрувов
								td.after 1200
								td.before 1300
							tr
								td.indicator апсейл
								td.after 15% ₴
								td.before 79% ₴
							tr
								td.indicator средний чек продажи
								td.after 760 ₴
								td.before 1 180 ₴
						tfoot
							tr
								td.result(colspan="3") Итого
					.case__footer
						p.cases__text увеличили чистую прибыль <span>в 3 раза</span>
						p.cases__text дополнительный заработок с заказов <span>4 500 ₴</span> в день.
						p.cases__text дополнительная прибыль в месяц <span> 143 000 ₴</span>
				li.case
					p.caption Landing Page
					h3 Пульсоксиметр
					table
						thead
							tr
								td.indicator Показатель
								td.after До
								td.before После
						tbody
							tr
								td.indicator апрувов
								td.after 500
								td.before 560
							tr
								td.indicator апсейл
								td.after 0% ₴
								td.before 92% ₴
							tr
								td.indicator средний чек продажи
								td.after 750 ₴
								td.before 880 ₴
						tfoot
							tr
								td.result(colspan="3") Итого
					.case__footer
						p.cases__text повысили средний чек <span>на 17%</span>
						p.cases__text повысили количество оформленных заказов <span>на 24%</span>
						p.cases__text дополнительная прибыль в месяц <span> 110 900 ₴</span>
			form.call-form
				h2 Обработаем <span>первые 50 лидов бесплатно</span>
				.stroke
					input.field(type="name" placeholder="Ваше имя")
					input.field(type="tel" placeholder="Ваш телефон")
					input.button(type="submit" value="Свяжитесь со мной!")
				p Нажимая кнопку «Свяжитесь со мной!», Вы соглашаетесь на <a class="rules" href="#">обработку своих персональных данных</a>
	section.reviews
		.container
			.reviews__top
				h2.heading Отзывы клиентов
				.arrows
					.arrows__icon.arrow-prev
						img(src="img/reviews/prev.png")
					.arrows__icon.arrow-next
						img(src="img/reviews/next.png")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.review
							.review__header
								.avatar
								.review__info
									h3 Александр Луценко
									p.status Владелец lp-crm
									.review__social
										.twitter
											img(src="img/reviews/twitter.png")
											a(href="#") alexlutsenko
										.leads 300+ лидов в день
							.review__video
								.play
									img(src="img/reviews/play.png")
					.swiper-slide
						.review
							.review__header
								.avatar
								.review__info
									h3 Александр Луценко
									p.status Владелец lp-crm
									.review__social
										.twitter
											img(src="img/reviews/twitter.png")
											a(href="#") alexlutsenko
										.leads 300+ лидов в день
							.review__video
								.play
									img(src="img/reviews/play.png")
					.swiper-slide
						.review
							.review__header
								.avatar
								.review__info
									h3 Александр Луценко
									p.status Владелец lp-crm
									.review__social
										.twitter
											img(src="img/reviews/twitter.png")
											a(href="#") alexlutsenko
										.leads 300+ лидов в день
							.review__video
								.play
									img(src="img/reviews/play.png")
					.swiper-slide
						.review
							.review__header
								.avatar
								.review__info
									h3 Александр Луценко
									p.status Владелец lp-crm
									.review__social
										.twitter
											img(src="img/reviews/twitter.png")
											a(href="#") alexlutsenko
										.leads 300+ лидов в день
							.review__video
								.play
									img(src="img/reviews/play.png")
	section.quality
		.container
			.quality__inner
				.bordered
					h3 Результаты работы<br> первого дня
					ul.first-day
						li
							img(src="img/quality/1.png")
							p.text выполнение показателей качества
						li
							img(src="img/quality/2.png")
							p.text сокращение затрат на 30%
						li
							img(src="img/quality/3.png")
							p.text прозрачная система отчетности
						li
							img(src="img/quality/4.png")
							p.text удобная система оплаты
				.quality__main
					h2.heading Оцените качество работы наших операторов
					.audios
						.audio
							audio(src="audio/birds.mp3" controls)
						.audio
							audio(src="audio/birds.mp3" controls)
						.audio
							audio(src="audio/birds.mp3" controls)
						.audio
							audio(src="audio/birds.mp3" controls)


				













