footer.footer
	.container
		.footer__inner
			ul.bottom-menu
				li
					a(href="#") О компании
				li
					a(href="#") Сотрудничество
				li
					a(href="#") Тарифы
				li
					a(href="#") Кейсы
				li
					a(href="#") Отзывы
			.footer__contacts
				.contact
					img(src="img/footer/1.png")
					span Сумы, ул.Новоместенская 31/1
				.contact
					img(src="img/footer/2.png")
					a(href="mailto: flash.call.7@gmail.com") flash.call.7@gmail.com



script(src="js/jquery-3.6.0.min.js")
script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
script(src="js/common.js")
