header.header
	.container
		nav.navbar.navbar-expand-lg
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href='#') О компании 
					li.nav-item
						a.nav-link(href='#') Сотрудничество
					li.nav-item
						a.nav-link(href='#') Тарифы
					li.nav-item
						a.nav-link(href='#') Кейсы
					li.nav-item
						a.nav-link(href='#') Отзывы

