header.header
	.container
		nav.navbar.navbar-expand-xl
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				i.fa.fa-bars
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href='#about') О компании 
					li.nav-item
						a.nav-link(href='#partnership') Сотрудничество
					li.nav-item
						a.nav-link(href='#tariffs') Тарифы
					li.nav-item
						a.nav-link(href='#cases') Кейсы
					li.nav-item
						a.nav-link(href='#reviews') Отзывы

