link(rel="stylesheet" href="css/bootstrap.min.css")
//- link(rel="stylesheet" href="css/reset.css")
link(href="https://use.fontawesome.com/f1f1e7d431.css" media="all" rel="stylesheet")
link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
script(src="https://use.fontawesome.com/f1f1e7d431.js")
link(srel="stylesheet" href="fonts/fonts.css")
link(rel="stylesheet" href="css/main.css")

