link(rel="stylesheet" href="css/bootstrap.min.css")
//- link(rel="stylesheet" href="css/reset.css")
link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
link(srel="stylesheet" href="fonts/fonts.css")
link(rel="stylesheet" href="css/main.css")

